#board {
    position: relative;
    background-color: rgb(161, 208, 202);
    height: 100vh;  
}

.player {
    position: absolute;
    background-color: rgb(23, 162, 113);
}

.obstacle {
    position: absolute;
    background-color: rgb(226, 14, 71);
}