#board {
    position: relative;
    background-color: rgb(161, 208, 202);
    height: 100vh;  
}

.player {
    position: absolute;
    background-color: rgb(23, 162, 113);
    height: 20px;
    width: 120px;
}