/*Make any img element responsive*/
img {
    max-width: 100%;
    max-height: 100%;
   }
   /*Set a fixed size for width and height and in an absolute position*/
 
   /*Style for the Score container*/
  
  
   .healthContainer {
    background-color: black;
    width: 15%;
    height: 15%;
    color: #ffffff;
    top: 13px;
    right: 5%;
    border: 2px solid greenyellow;
    border-radius: 10px;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
   }
  
  
  
  
  
  
  
  
   .scoreContainer {
    background-color: rgb(10, 10, 10);
    
    width: 15%;
    height: 15%;
    color: #ffffff;
    top: 13px;
    right: 15%;
    border: 2px solid greenyellow;
    border-radius: 10px;
    display: flex;
    position: fixed;
    left: 13px;
    flex-direction: column;
    align-items: center;
   }

   .levelsContainer {
    background-color: black;
    left: 310px;
    width: 15%;
    height: 15%;
    color: #ffffff;
    top: 13px;
    right: 15%;
    border: 2px solid greenyellow;
    border-radius: 10px;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
   }



   #score-text {
    font-size: 1.5em;
   }

   #health-text {
    font-size: 1.5em;
   }


   #levels-text {
    font-size: 1.5em;
   }



   #health-counter {
    font-size: 3.1em;
    font-weight: bold;
    color: #06e515;
   }

   #score-counter {
    font-size: 3.1em;
    font-weight: bold;
    color: #06e515;
   }

   #levels-counter {
    font-size: 3.1em;
    font-weight: bold;
    color: #06e515;
   }


   #box {
       font-size: 1.5em;
       color: rgb(20, 18, 18);
       border: 2.5px solid rgb(255, 95, 47);
       background-color: crimson;
       border-radius: 10px;
       text-align: center;
       font-style: oblique;
       font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
       font-weight: bold;

   }

   h1 {
    text-align: center; 
}
h1 span { 
    background-color: green;
    width: max-content; 
    border: 2.5px solid rgb(181, 233, 86);
    background-color: rgb(231, 74, 49);
    border-radius: 2px;
    padding: 5px;
    margin: auto;

}



  #snakes {
   
    background-repeat: no-repeat;
    border: 2.5px solid rgb(255, 95, 47);
       background-color: crimson;
       border-radius: 2px;
       max-width: 100%;
       max-height: 100%;
       

   }